NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://USER:PASSWORD@localhost:5050/realtime_quiz_app?schema=public
JWT_SECRET="a7ef2a6d-91df-4e43-812b-e74e26c75868"
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:5173
